body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 1000px;
  margin: 20px auto;
}

.header {
  text-align: center;
}

.navigation {
  background: #a9cbb7;
  padding: 10px;
  text-align: center;
}

.navigation__link {
  display: inline-block;
  color: black;
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation__link--homepage {
  font-weight: bold;
}

.main-heading__title {
  text-align: center;
  text-transform: uppercase;
  color: #5e565a;
}

.main-heading__image {
  display: block;
  width: 450px;
  margin: 0 auto;
}
.section {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 20px;
}

.section__title {
  color: #7d83ff;
}

.section__subtitle {
  font-size: 16px;
  margin-top: 30px;
}

.section__description {
  font-size: 15px;
}

.footer {
  background-color: #a9cbb7;
  width: 100vw;
  text-align: center;
  padding: 10px;
}
